html{
    background-color: #1a1a1a;
    color: #fafafa;
    font-family: montserrat, sans-serif;
  }
  body {
    color: var(--color-text);
  
    font-family:
      'Hind'
      'Montserrat';
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .hero{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 999;
  }
  
  .heading{
    position: relative;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
    font-weight: 300;
    z-index: 999;
  }
  .headingln1{
    font-size: 5rem;
    background-color: rgba(26,26,26,0.25);
    line-height: normal;
    color: #fafafa;
    font-weight: 400;
  }
  .headingln2{
    font-size: 3.5rem;
    background-color: rgba(26,26,26,0.25);
    line-height: normal;
    color: #fafafa;
    font-weight: 200;
  }

  .navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    border-bottom: 1px solid #1a1a1a;
    background-color: rgba(40,40,40,0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    z-index: 99999999999;
  }
  .navigation{
    display: flex;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
  }
  li{
    padding-left: 12px;
  }
  a{
    text-decoration: none;
    color:inherit;
  }
  a:hover{
    color: #ff4d5a;
  }

  .about {
    color: #fafafa;
    font-family: montserrat, sans-serif;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-heading {
    color: #fafafa;
    font-family: montserrat, sans-serif;
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 13rem;
    z-index: 9999;
  }
  
  .about__content {
    color: #fafafa;
    font-family: montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .profile {
    color: #fafafa;
    font-family: montserrat, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
  }
  
  .profile_blurb {
    font-size: 1.5rem;
    width: 500px;
    line-height: 1.8;
  }
  
  .skills {
    display: flex;
    justify-content: center;
  }
  
  .skills__item svg {
    height: 50px;
  }
  
  .skills__row:not(:last-child) {
    margin-right: 25px;
  }
  
  .skills__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
  }
  
  .skills__item:not(:last-child) {
    margin-bottom: 3rem;
    margin-right: 25px;
  }
  
  .skills__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 160px;
    border: double 3px transparent;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-image-slice: 100%;
    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #51a2e9, #ff4d5a);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: transform 0.2s, opacity 1.2s;
    overflow: hidden;
  
  }
  
  .skills__item-name {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    transition: all 0.2s;
    letter-spacing: 1px;
  }


  .contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-bottom: 10rem;
  }
  
  .section-heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 13rem;
    z-index: 9999;
  }
  .contact__text{
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  .contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact input{
    width: 500px;
    resize: none;
    border: none;
      border-left-width: medium;
      border-left-style: none;
      border-left-color: currentcolor;
    color: inherit;
    background-color: #282828;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
  }
  .contactname{
    margin-bottom: 6px;
    padding: 1rem;
    height: 4rem;
  }
  .contactemail{
    margin-bottom: 6px;
    padding: 1rem;
    height: 4rem;
  }
  .contact textarea{
    width: 500px;
    resize: none;
    border: none;
      border-left-width: medium;
      border-left-style: none;
      border-left-color: currentcolor;
    color: inherit;
    background-color: #282828;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
  }
  .contactmessage{
    height: 12rem;
    padding: 1rem;
  }
  .formsubmit{
    margin-top: 1.5rem;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contactsubmit{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem 1.2rem;
    position: relative;
    margin-top: 3rem;
    cursor: pointer;
  }
  button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
  }

  .footer{
    position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #282828;
}
a{
    text-decoration: none;
  color: inherit;
}
.returnhome{
    position: absolute;
  top: -25px;
  width: 40px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #ff4d5a;
}
.socials{
    display: flex;
  margin-bottom: 20px;
}
.github{
    margin-right: 1rem;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.linkedin{
    margin-left: 1rem;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}