html{
  background-image: url('./assets/background.svg');
}
body {
  color: var(--color-text);

  font-family:
    'Hind'
    'Montserrat';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}